@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    background-color: #242424;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #252424ee;
    height: 100%;
    width: 100vw;
    backdrop-filter: blur(2px);
}

.purple-shadow:hover {
    box-shadow:  0em 0em 1em #c3b9fa;
}

a:hover {
    text-shadow:  0em 0em 1em #c3b9fa;
}