@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    background-color: #242424;
}

.purple-shadow:hover {
    box-shadow:  0em 0em 1em #c3b9fa;
}

a:hover {
    text-shadow:  0em 0em 1em #c3b9fa;
}

.vn-button-style {
    background: transparent;
    border: 2px solid #ffffff30;
    border-radius: 0.5rem;
    color: #ffffff;	
    white-space: nowrap;
}

.button-white-shadow {
    box-shadow: 0 0.35em 1em -3px #ffffff30;
}

.img-alt-style {
    color: #848484;
}
