.table-head {
    white-space: nowrap;
    text-align: center;
}

.sort-table-head:hover {
    cursor: pointer;
    background-color: #8570ff9a;
}

.loading::after {
    display: inline-block;
    animation: ellipses-animation steps(1, end) 1s infinite;
    content: '';
}
  
/* Not the best way, but it works for now ^_^ */
@keyframes ellipses-animation {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

input[type=checkbox] {
    accent-color: #8570ff;
}